<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hll_sc_app">

    <application>
        <activity
            android:name="com.odm_sc_app_3.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme" />
    </application>
</manifest>