# OSX
*.DS_Store


# Gradle files
build/
.gradle/
*/build/
*/bugly/
/local.properties

# IDEA
*.iml
.idea/

# Files for the Dalvik VM
*.dex


# Java class files
*.class
/wheelpicker
/common

app/
base/
