<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hll_sc_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.hll_sc_app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity,GoogleAppIndexingWarning">

        <activity
            android:name=".app.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent${QQ_APPID}" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".app.user.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BasePersonTheme" />

        <activity
            android:name=".app.user.find.FindPasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.user.change.ChangePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.shop.SupplierShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.settings.CrmSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.account.AccountManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.account.unbindmainaccount.UnbindMainAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.account.unbindgroup.UnbindGroupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.bill.BillSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.cooperation.CooperationSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.user.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.goods.detail.GoodsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.GoodsAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.AgreementPriceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".app.agreementprice.search.AgreementPriceSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".app.agreementprice.goods.detail.GoodsPriceDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.detail.QuotationDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.add.QuotationAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.add.ratiotemplate.QuotationRatioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.add.purchaser.PurchaserListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.add.goods.GoodsQuotationSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.agreementprice.quotation.add.purchaser.shop.PurchaserShopListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.template.GoodsTemplateListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.orientationsale.cooperation.shop.CooperationShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.orientationsale.list.OrientationListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.orientationsale.cooperation.CooperationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.orientationsale.detail.OrientationDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.orientationsale.product.ProductActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.invwarn.GoodsInvWarnActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.relevance.GoodsRelevancePurchaserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.CooperationPurchaserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.staffmanage.StaffManageListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.staffmanage.detail.StaffManagerEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.staffmanage.detail.permission.RolePermissionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.staffmanage.detail.role.RoleSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.invite.CooperationInviteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.application.CooperationApplicationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.application.thirdpart.detail.CooperationThirdPartDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.CooperationDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.imgs.StoreFrontActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.imgs.OtherLicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.imgs.BusinessLicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.refundtime.RefundTimeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.priceratio.PriceRatioTemplateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.DeliveryManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.WarehouseStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".app.warehouse.WarehouseIntroduceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.ShipperActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.ShipperWarehouseGoodsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.shop.ShipperShopManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.shop.detail.ShipperShopDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.shop.detail.purchaser.ShipperPurchaserSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.shipper.shop.detail.purchasershop.ShipperPurchaserShopSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.WarehouseListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.invite.WarehouseInviteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.warehouse.application.WarehouseApplicationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.warehouse.application.WarehouseShopListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.add.WarehouseAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.detail.details.WarehouseDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.detail.WarehouseDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.detail.shop.WarehouseShopDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.warehouse.recommend.WarehouseRecommendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.range.DeliveryRangeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.minimum.DeliveryMinimumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.minimum.purchaser.PurchaserMinimumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.minimum.purchaser.shop.ShopMinimumActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.minimum.detail.DeliveryMinimumDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.minimum.area.DeliveryAreaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.ageing.DeliveryAgeingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.ageing.detail.DeliveryAgeingDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.ageing.detail.period.DeliveryPeriodActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.deliverytype.DeliveryTypeSetActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.deliverytype.company.DeliveryCompanyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliverymanage.deliverytype.company.add.DeliveryCompanyAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.priceratio.add.PriceRatioTemplateAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.priceratio.PriceRatioTemplateListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.details.CooperationDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopadd.CooperationAddShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopsettlement.CooperationShopSettlementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopdelivery.CooperationShopDeliveryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopsaleman.CooperationShopSalesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopdetail.CooperationShopDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopdetail.CooperationSourceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.shopadd.CooperationSelectShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.detail.details.basic.CooperationShopListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cooperation.add.CooperationAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".app.goods.relevance.goods.GoodsRelevanceListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.relevance.goods.select.GoodsRelevanceSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.stick.GoodsStickActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".app.goods.template.edit.GoodsTemplateEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.productattr.ProductAttrActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.productattr.brand.ProductBrandActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.productattr.brand.add.ProductBrandAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.specs.GoodsSpecsAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.specs.saleunitname.SaleUnitNameActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.specs.depositproducts.DepositProductsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.pricemanage.PriceManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.paymanage.PayManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.paymanage.method.PayMethodManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.paymanage.account.PayAccountManageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.pricemanage.log.PriceChangeLogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goods.add.customcategory.GoodsCustomCategoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.user.register.RegisterComplementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.search.OrderSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <activity
            android:name=".app.order.deliver.DeliverInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.details.OrderDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.transfer.details.TransferDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.deliver.modify.ModifyDeliverInfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.submit.SubmitSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.inspection.OrderInspectionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.settle.OrderSettlementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".app.order.transfer.check.CommodityCheckActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.audit.AuditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".app.aftersales.negotiationhistory.NegotiationHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.detail.AfterSalesDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.goodsoperation.GoodsOperationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.ReportEntryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.dailySale.DailyAggregationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.orderGoods.OrderGoodsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--客户销售汇总-->
        <activity
            android:name=".app.report.customerSale.CustomerSaleActivity"
            android:screenOrientation="portrait" />
        <!--客户销售汇总明细-->
        <activity
            android:name=".app.report.customerSale.saleDetail.CustomerSalesDetailActivity"
            android:screenOrientation="portrait" />
        <!--客户销售汇总门店明细-->
        <activity
            android:name=".app.report.customerSale.shopDetail.CustomerShopDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.orderGoods.detail.OrderGoodsDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.productSale.ProductSalesActivity"
            android:screenOrientation="portrait" />
        <!--客户销售汇总搜索-->
        <activity
            android:name=".app.report.search.ReportSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateVisible" />

        <activity
            android:name=".app.report.refundReason.RefundReasonActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".app.wallet.details.list.DetailsListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.details.show.DetailsShowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.recharge.RechargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.withdraw.WithdrawActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.account.my.MyAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.account.create.CreateAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.account.auth.AuthAccountActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.bank.BankListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wallet.WalletActivity"
            android:screenOrientation="portrait" />

        <!--业务员签约绩效-->
        <activity
            android:name=".app.report.salesman.sign.SalesManSignAchievementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--业务员销售额绩效-->
        <activity
            android:name=".app.report.salesman.sales.SalesManSalesAchievementActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--缺货汇总-->
        <activity
            android:name=".app.report.deliveryLack.DeliveryLackGatherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.web.WebActivity"
            android:screenOrientation="portrait" />
        <!--营销中心入口-->
        <activity
            android:name=".app.marketingsetting.MarketingSettingMenuActivity"
            android:screenOrientation="portrait" />
        <!--商品营销列表-->
        <activity
            android:name=".app.marketingsetting.product.ProductMarketingListActivity"
            android:screenOrientation="portrait" />
        <!--营销中心新增-->
        <activity
            android:name=".app.marketingsetting.product.add.ProductMarketingAddActivity"
            android:screenOrientation="portrait" />

        <!--营销中心-选择商品-->
        <activity
            android:name=".app.marketingsetting.selectproduct.ProductSelectActivity"
            android:screenOrientation="portrait" />

        <!--营销中心-选择区域-->
        <activity
            android:name=".app.marketingsetting.selectarea.SelectAreaActivity"
            android:screenOrientation="portrait" />

        <!--营销中心-商品选择优惠券-->
        <activity
            android:name=".app.marketingsetting.product.selectcoupon.CouponSelectListActivity"
            android:screenOrientation="portrait" />

        <!--商品营销详情-->
        <activity
            android:name=".app.marketingsetting.product.check.ProductMarketingCheckActivity"
            android:screenOrientation="portrait" />
        <!--活动商品列表-->
        <activity
            android:name=".app.marketingsetting.product.check.SelectProductListActivity"
            android:screenOrientation="portrait" />

        <!--营销优惠券-->
        <activity
            android:name=".app.marketingsetting.coupon.MarketingCouponActivity"
            android:screenOrientation="portrait" />

        <!--营销优惠券新增-->
        <activity
            android:name=".app.marketingsetting.coupon.add.MarketingCouponAddActivity"
            android:screenOrientation="portrait" />

        <!--营销优惠查看-->
        <activity
            android:name=".app.marketingsetting.coupon.check.MarketingCouponCheckActivity"
            android:screenOrientation="portrait" />

        <!--优惠券使用详情页-->
        <activity
            android:name=".app.marketingsetting.coupon.usedetail.UseDetailActivity"
            android:screenOrientation="portrait" />

        <!--优惠券-选择客户-->
        <activity
            android:name=".app.marketingsetting.coupon.selectshops.SelectGroupsActivity"
            android:screenOrientation="portrait" />
        <!--选择门店-->
        <activity
            android:name=".app.marketingsetting.coupon.selectshops.SelectShopsActivity"
            android:screenOrientation="portrait" />
        <!--优惠券-分发页面-->
        <activity
            android:name=".app.marketingsetting.coupon.send.SendCouponActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".app.bill.list.BillListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".app.bill.detail.BillDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.entry.InvoiceEntryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.search.InvoiceSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.select.shop.SelectShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.select.order.SelectOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.input.InvoiceInputActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--缺货汇总表-->
        <activity
            android:name=".app.report.customerLack.CustomerLackSummaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--缺货明细-->
        <activity
            android:name=".app.report.customerLack.detail.CustomerLackDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.detail.InvoiceDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.detail.order.RelevanceOrderActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.detail.shop.RelevanceShopActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.invoice.detail.record.ReturnRecordActivity"
            android:screenOrientation="portrait" />

        <!--收货差异汇总-->
        <activity
            android:name=".app.report.inspectLack.InspectLackActivity"
            android:screenOrientation="portrait" />

        <!--收货差异明细-->
        <activity
            android:name=".app.report.inspectLack.detail.InspectLackDetailActivity"
            android:screenOrientation="portrait" />

        <!--代仓缺货商品明细-->
        <activity
            android:name=".app.report.warehouse.product.WareHouseProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--配送及时率汇总-->
        <activity
            android:name=".app.report.deliveryTime.DeliveryTimeAggregationActivity"
            android:screenOrientation="portrait" />
        <!--配送及时率明细-->
        <activity
            android:name=".app.report.deliveryTime.detail.DeliveryTimeDetailActivity"
            android:screenOrientation="portrait" />

        <!--待退统计-->
        <activity
            android:name=".app.report.refund.wait.WaitRefundTotalInfoActivity"
            android:screenOrientation="portrait" />
        <!--待退商品统计明细-->
        <activity
            android:name=".app.report.refund.wait.product.WaitRefundProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--待退客户明细统计-->
        <activity
            android:name=".app.report.refund.wait.customer.WaitRefundCustomertDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!--退货统计-->
        <activity
            android:name=".app.report.refund.refundcollect.RefundCollectTotalInfoActivity"
            android:screenOrientation="portrait" />
        <!--退货明细-->
        <activity
            android:name=".app.report.refund.refundcollect.detail.RefundedDetailActivity"
            android:screenOrientation="portrait" />

        <!--退货客户商品汇总-->
        <activity
            android:name=".app.report.refund.customerProduct.RefundedCustomerAndProductTotalInfoActivity"
            android:screenOrientation="portrait" />
        <!--退货客户明细-->
        <activity
            android:name=".app.report.refund.customerProduct.customer.RefundedCustomerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--退款商品明细-->
        <activity
            android:name=".app.report.refund.customerProduct.product.RefundedProductDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".app.inspection.list.InspectionListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--流失客户明细-->
        <activity
            android:name=".app.report.loss.customer.CustomerLossDetailActivity"
            android:screenOrientation="portrait" />

        <!--流失门店明细-->
        <activity
            android:name=".app.report.loss.shop.ShopLossDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.warehouse.delivery.WareHouseDeliveryStatisticsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--代仓服务费-->
        <activity
            android:name=".app.report.warehouse.serviceFee.WareHouseServiceFeeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".app.inspection.detail.InspectionDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.purchase.PurchaseSummaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.purchase.input.PurchaseInputActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.ProduceSummaryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.manhour.ManHourSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.input.ProduceInputActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.input.detail.ProduceInputDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.details.ProduceDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.produce.input.maneffect.PeopleEffectInputActivity"
            android:screenOrientation="portrait" />

        <!--退货搜索-->
        <activity
            android:name=".app.report.refund.search.RefundSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.order.list.CrmOrderListActivity"
            android:screenOrientation="portrait" />

        <!--销售crm日报-->
        <activity
            android:name=".app.report.salesReport.SalesReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.order.trace.OrderTraceActivity"
            android:screenOrientation="portrait" />


        <!--库存管理首页-->
        <activity
            android:name=".app.stockmanage.MenuListActivity"
            android:screenOrientation="portrait" />
        <!--仓库查询-->
        <activity
            android:name=".app.stockmanage.storehousemanage.StoreHouseManageActivity"
            android:screenOrientation="portrait" />
        <!--仓库新增编辑-->
        <activity
            android:name=".app.stockmanage.storehousemanage.edit.StoreHouseEditActivity"
            android:screenOrientation="portrait" />
        <!--库存查询-->
        <activity
            android:name=".app.stockmanage.stockquery.StockQueryActivity"
            android:screenOrientation="portrait" />
        <!--库存日志查询-->
        <activity
            android:name=".app.stockmanage.stocklogquery.StockLogQueryActivity"
            android:screenOrientation="portrait" />
        <!--客户发货仓库管理-->
        <activity
            android:name=".app.stockmanage.customersendmanage.CustomerSendManageActivity"
            android:screenOrientation="portrait" />
        <!--商品库存校验设置-->
        <activity
            android:name=".app.stockmanage.stockchecksetting.StockCheckSettingActivity"
            android:screenOrientation="portrait" />
        <!--商品库存校验选择商品页面-->
        <activity
            android:name=".app.stockmanage.selectproduct.ProductSelectActivity"
            android:screenOrientation="portrait" />

        <!--采购单查询-->
        <activity
            android:name=".app.stockmanage.purchaserorder.PurchaserOrderActivity"
            android:screenOrientation="portrait" />
        <!--采购单明细查询-->
        <activity
            android:name=".app.stockmanage.purchaserorder.detail.PurchaserOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!--采购单搜索-->
        <activity
            android:name=".app.stockmanage.purchaserorder.search.PurchaserOrderSearchActivity"
            android:screenOrientation="portrait" />

        <!--投诉管理列表首页-->
        <activity
            android:name=".app.complainmanage.ComplainManageActivity"
            android:screenOrientation="portrait" />

        <!--投诉管理-详情-->
        <activity
            android:name=".app.complainmanage.detail.ComplainMangeDetailActivity"
            android:screenOrientation="portrait" />

        <!--员工管理-部门选择-->
        <activity
            android:name=".app.staffmanage.detail.depart.DepartListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.aftersales.list.AfterSalesListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.entry.AfterSalesEntryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.apply.AfterSalesApplyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.aftersales.apply.select.AfterSalesSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.place.select.SelectGoodsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.place.confirm.PlaceOrderConfirmActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.place.confirm.remark.OrderConfirmRemarkActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.place.confirm.details.PlaceOrderDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.order.place.commit.PlaceOrderCommitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.complainmanage.history.ComplainHistorylActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.complainmanage.innerlog.InnerLoglActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.complainmanage.sendcomplainreply.SendComplainReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.complainmanage.sendcomplainreply.ComplainReplyResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.complainmanage.add.ComplainMangeAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.complainmanage.ordernumberlist.SelectOrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.complainmanage.purchaserlist.SelectPurchaserListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.complainmanage.add.productlist.SelectProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliveryroute.DeliveryRouteActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.deliveryroute.detail.RouteDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.rank.RankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.feedbackcomplain.FeedbackComplainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.feedbackcomplain.platformcomplain.PlatformComplainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.feedbackcomplain.feedback.FeedbackListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.analysis.AnalysisActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.customreceivequery.CustomReceiveQueryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.report.customreceivequery.detail.CustomReceiveDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.entry.GoodsDemandEntryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.add.GoodsDemandAddActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.commit.GoodsDemandCommitActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.search.PurchaserSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.GoodsDemandActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.detail.GoodsDemandDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.select.GoodsDemandSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.price.PriceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.tax.TaxSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.tax.special.SpecialTaxSettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.tax.goodsselect.GoodsSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.setting.remind.RemindSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.purchasetemplate.PurchaseTemplateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".app.cardmanage.CardManageListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.detail.CardManageDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.add.SelectPurchaserListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.add.AddCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.recharge.CardManageRechargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.cardlog.CardLogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.info.InfoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.info.modify.InfoModifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".app.info.doorway.InfoDoorwayActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.info.license.InfoLicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.info.other.InfoOtherActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.transactiondetail.TransactionListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.cardmanage.transactiondetail.TransactionDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".app.info.invitecode.InviteCodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.special.SpecialDemandEntryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.special.list.SpecialDemandListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.goodsdemand.special.detail.SpecialDemandDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.wx.WxMallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.daily.list.CrmDailyListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.daily.detail.CrmDailyDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.daily.edit.CrmDailyEditActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.add.CustomerAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".app.message.MessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.message.detail.MessageDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.message.notice.MessageNoticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.message.chat.MessageChatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.intent.add.AddCustomerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.intent.CustomerIntentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.intent.detail.CustomerDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.record.VisitRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.record.add.AddVisitRecordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.record.detail.VisitRecordDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.crm.customer.plan.VisitPlanActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${APPLICATION_ID}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <!-- 阿里云推送配置开始-->
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="${ALIBABA_APP_KEY}" />
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="${ALIBABA_APP_SECRET}" />

        <receiver
            android:name=".receiver.NotificationMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
        <!-- 阿里云推送配置结束-->

    </application>

</manifest>